{% extends 'base.html' %}

{% block title %}Dashboard {% endblock %}

{% block content %}
  <div class="content-section dashboard">
    <h2 class="heading">Remaining Time</h2>
    <div>
      <div>{{ pie_html_string }}</div>
      <div>Remaining: {{ dashboard.remaining }}</div>
      <div>Estimated bedtime: {{ dashboard.bed_time }}</div>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#exampleModalCenter">
        Formula for Remaining
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="dialog">
          <div class="modal-content modal-xl">
            <img src="/static/images/formula.png" alt="how to calculate remaining time" width="100%" data-dismiss="modal">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section dashboard">
    <h2>Daily Record ({{ records_pagination.total }})</h2>
    <div class="flex-container">
      <a type="button" class="btn btn-outline-info" href="{{ url_for('records.add') }}">Add</a>
      <a type="button" class="btn btn-outline-info" href="{{ url_for('main.download') }}">Download</a>
      <a type="button" class="btn btn-outline-info" href="{{ url_for('records.graph') }}">Graph</a>
    </div>
    <div class="flex-container">
      <table>
        <tr>
          <th>DATE</th>
          <th>WAKE-UP</th>
          <th>TO-BED</th>
        </tr>
      {% for record in records_pagination.items %}
        <tr>
          <td><a class="action" href="{{ url_for('records.update', sleep_id=record.id) }}">[{{ record.up | simplify(to='date') }}]</a></td>
          <td><a class="text">{{ record.up | simplify(to='time') }}</a></td>
          <td><a class="text">{{ record.to_bed | simplify(to='time') }}</a></td>
        </tr>
      {% endfor %}
      </table>
    </div>
    <br>
    {% for page_num in records_pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if records_pagination.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('main.dashboard', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('main.dashboard', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
  </div>

  <div class="content-section dashboard">
    <h2>On Average</h2>
    <div class="flex-container">
      <table>
        <tr>
          <th>SLEEP</th>
          <th>WAKE-UP</th>
          <th>TO-BED</th>
        </tr>
        <tr>
          <td><a class="text">{{ dashboard.avg_sleep }}</a></td>
          <td><a class="text">{{ dashboard.avg_up }}</a></td>
          <td><a class="text">{{ dashboard.avg_bed }}</a></td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}